<li>
    <a href="#{{name}}">{{name}}</a>
    {{#if members.global }}
        <section class="member">
            {{#each members.global}}
                <a href="#{{../name}}-{{name}}">{{name}}</a>
            {{/each}}
        </section>
    {{/if}}
    {{#if members.inner }}
        <section class="member">
            {{#each members.inner}}
                <a href="#{{../name}}-{{name}}">{{name}}</a>
            {{/each}}
        </section>
    {{/if}}
    {{#if members.instance }}
        <section class="member">
            {{#each members.instance}}
                <a href="#{{../name}}-{{name}}">{{name}}</a>
            {{/each}}
        </section>
    {{/if}}
    {{#if members.events }}
        <section class="member">
            {{#each members.events}}
                <a href="#{{../name}}-{{name}}">{{name}}</a>
            {{/each}}
        </section>
    {{/if}}
    {{#if members.static }}
        <section class="member">
            {{#each members.static}}
                <a href="#{{../name}}-{{name}}">{{name}}</a>
            {{/each}}
        </section>
    {{/if}}
</li>
